.entry-form {
  input {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: $corben;
  }

  button {
    margin: 1rem auto 0 auto;
    display: block;
  }
}

.entry-form__errmsg {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s;
  color: #fff;
  font-size: .8rem;
  background-color: darkred;
  padding: .5rem 1rem;
  margin-top: 1rem;

  &.is-shown {
    opacity: 1;
  }
}