@import '../../styles/_typography';
.entry-form {
    border-top: 1px solid #333;
    padding-top: 1rem;
    margin-top: 1rem;
}

.entry-form__choice {
    display: flex;
    flex-basis: 35%;
    justify-content: space-around;

    .button {
        display: block;

        &:first-child {
            margin-right: 1rem;
        }
    }
}

.entry-form__player-list {
    table {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0;
    }

    tr, thead {
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding-bottom: .8rem;
    }

    tr {
        padding:  1rem 0;
        transition: background-color 0.1s ease-in;
        cursor: pointer;

        &:hover, .selected {
            background-color: #ccc;
            color: #333;
        }
    }


    td {
        display: inline-block;
    }

    td:last-child, th:last-child {
        text-align: right;
    }
}
